html {
    scroll-behavior: smooth;
}

#main-content {
    background-image: url(../Assets/eternal\ guard\ logo\ transparent.png);
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 1000px;
}

header {
    background-color: #5E1675;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

main {
    color: #5E1675;
}

#logo {
    order: 1;
    margin-right: 10px;
    flex-shrink: 0;
}

h1 {
    order: 2;
    margin: 0;
    flex-grow: 1;
    color: white;
}

nav {
    order: 3;
    margin-left: auto;
}

#navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.navBar {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.navBar:hover {
    color: rgb(212, 212, 212);
}

.navBar:active {
    background-color: rgb(185, 185, 185)
}

#user-prompt {
    display: flex;
}

#input {
    color: white;
    font-style: italic;
    margin-left: 7px;
    background-color: #5E1675;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 0 6px;
}

h3 {
    display: inline-block;
    margin: 3px;
    margin-bottom: 50px;
}

#name {
    color: #5E1675
}

#about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.arrow {
    border: none;
    cursor: pointer;
}

.arrow:hover {
    background-color: rgb(212, 212, 212);
}

.arrow:active {
    background-color: rgb(185, 185, 185);
}

#go-right:active {
    transform: translateX(3px);
    -webkit-transform: translateX(3px);
    -moz-transform: translateX(3px);
    -ms-transform: translateX(3px);
    -o-transform: translateX(3px);
}

#go-left:active {
    transform: translateX(-2px);
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -o-transform: translateX(-2px);
}

.mainImage {
    align-content: center;
}

hr {
    background-color: #5E1675;
    border: none;
    height: 3px;
}

#company-branch1 {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

#company-branch2 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 100px;
}

.companyLocation {
    width: 100px;
    height: 100px;
    border: #5E1675 solid 2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.location {
    display: flex;
    justify-content: space-around;
}

#message-us {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

form {
    margin-top: 10px;
}

legend {
    background-color: #5E1675;
    color: white;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 3px;
}

#user-answer {
    border: #5E1675 solid 3px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#button-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-left: -20px;   
}

#submit {
    color: #5E1675;
    font-weight: bold;
    border: #5E1675 1px solid;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    cursor: pointer;
}

#submit:hover {
    color: #4f1164;
    border: #4f1164 2px solid;
}

#submit:active {
    color: #3f0d50;
    border: #3f0d50 3px solid;
    background-color: rgb(199, 199, 199);
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
}

#reset-button {
    color: #b40000;
    font-weight: bold;
    border: #b40000 1px solid;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    cursor: pointer;
}

#reset-button:hover {
    color: #990000;
    border: #990000 2px solid;
}

#reset-button:active {
    color: #750000;
    border: #750000 3px solid;
    background-color: rgb(199, 199, 199);
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

footer {
    background-color: #5E1675;
    margin-top: 50px;
    text-align: center;
    width: 100%;
    color: white;
}

footer>p>a {
    text-decoration: none;
    font-style: italic;
    font-weight: 400;
    color: white;
}

footer>p>a:hover {
    font-weight: bolder;
    cursor: pointer;
}

footer>p>a:active {
    color: grey;
}

footer>p>a>img {
    padding-top: 5px;
}

/*smartphone responsive*/
@media only screen and (max-width: 600px) {
    #main-content {
        background-size: 700px; 
    }

    #title>img {
        width: 400px;
    }

    header {
        flex-direction: column; 
    }

    #logo {
        margin-right: 0; 
    }

    nav {
        margin-top: 20px; 
        order: 2; 
    }

    #navigation {
        justify-content: center; 
    }

    .navBar {
        margin: 0 10px; 
    }

    #user-prompt {
        flex-direction: column; 
        align-items: center;
    }

    #input {
        margin-top: 5px; 
    }

    h3 {
        margin-bottom: 30px; 
    }

    #about-us {
        flex-direction: column; 
        align-items: center;
    }

    #main-img {
        width: 300px; /* Menyesuaikan lebar gambar sesuai kebutuhan */
        height: auto; /* Menjaga aspek rasio gambar */
        margin-right: 0; /* Menghapus margin kanan agar gambar tidak offside ke kanan */
    }

    #company-branch1, #company-branch2 {
        flex-direction: column; 
        align-items: center;
    }

    .companyLocation {
        width: 80px; 
        height: 80px;
    }

    footer {
        padding-bottom: 20px; 
    }
}

/*tablet responsive*/
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    header {
        padding: 20px 0; 
    }

    #navigation {
        justify-content: flex-end; 
    }

    .navBar {
        margin: 0 15px; 
    }

    #user-prompt {
        flex-direction: row; 
        align-items: center;
    }

    #input {
        margin-left: 10px; 

    h3 {
        margin-bottom: 40px; 
    }

    #about-us {
        margin-bottom: 150px; 
    }

    #company-branch1, #company-branch2 {
        margin-top: 50px; 
    }

    .companyLocation {
        width: 120px; 
        height: 120px;
    }
    }
}

/*desktop responsive*/
@media only screen and (min-width: 1025px) { 
    header {
        padding: 30px 0; 
    }

    .navBar {
        margin: 0 25px;
    }

    h3 {
        margin-bottom: 60px; 
    }

    #company-branch1, #company-branch2 {
        margin-top: 100px; 
        margin-bottom: 200px;
    }

    .companyLocation {
        width: 150px; 
        height: 150px;
    }
}